<div class="container myc">
    <div class="row">
        <div class="col-md-4">
            <div class="card user-card mycar">
                <div class="card-header">
                    <p class="mytex h5"><i class="fa fa-star "></i> Founder</p>
                </div>
                <div class="card-block">
                    <div>
                        <img src="assets/images/Ma.jpg" width="300" height="300" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10 mytex">Mayar Alaa</h6>
                    <p class="text-muted">Female | Born 30.12.1994</p>
                    <hr>
                  

                    <p class="m-t-15 text-muted">Mayar Ahmed Alaa graduated from faculty of Engineering Ain Shams University.</p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="https://www.facebook.com/mayar.ahmedalaa"><i class="fa fa-facebook text-facebook"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-md-4">
                    <div class="card user-card">
                        <div class="card-header">
                            <p class="mytex h5"><i class="fa fa-star "></i> Founder</p>
                        </div>
                        <div class="card-block">
                            <div>
                                <img src="assets/images/Amo.jpg" width="300" height="300" alt="User-Profile-Image">
                            </div>
                            <h6 class="f-w-600 m-t-25 m-b-10 mytex">Omnia Khalil</h6>
                            <p class="text-muted">Female | Born 19.11.1996</p>
                            <hr>
                          
        
                            <p class="m-t-15 text-muted">Omnia Mohammed Khalil graduated from faculty of Computer Science Ain Shams University.</p>
                            <hr>
                            <div class="row justify-content-center user-social-link">
                                <div class="col-auto"><a href="https://www.facebook.com/mayar.ahmedalaa"><i class="fa fa-facebook text-facebook"></i></a></div>
                                <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                                <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                            </div>
                        </div>
      </div>
      </div>

                
            </div>
        </div>