<div id="mySidenav" class="sidenav">
  <div class="myimg">
  <img src="../assets/images/mo.png" width="100" height="100" style="align-items: center;">
</div>
<div class="lis">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/Home" class="mylst" (click)="closeNav()">Home</a>
  <a routerLink="/Students" class="mylst" (click)="closeNav()">Students</a>
  <a data-toggle="modal" data-target="#exampleModalCenter" class="mylst" (click)="closeNav()">Register</a>
  <a routerLink="/About" class="mylst" (click)="closeNav()">About</a>
</div>
</div>

<!-- Use any element to open the sidenav -->
<button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"  (click)="openNav()"><span class="dark-blue-text"><i
        class="fa fa-bars fa-1x"></i></span></button>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->

<router-outlet></router-outlet>
<app-register-page></app-register-page>





