<br>
<br>
<div class="container">
 <div class="main-box clearfix">
  <div class="table-responsive">
   <table class="table user-list">
    <thead>
     <tr>
      <th id="M"><span><i class="fa fa-user fa-fw"></i>Students</span></th>
     </tr>
    </thead>
    <tbody>

      <tr *ngFor = "let student of students">
        <td>
         <img src={{student.image}} alt="">
         <!--Don'tForgetToPassID-->
         <a routerLink="/Student/{{student.id}}" class="user-link">{{student.name}}</a>
        </td>
        </tr>
      
    <tr>
    <td>
     <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
     <!--Don'tForgetToPassID-->
     <a routerLink="/Student/1" class="user-link">Mila Kunis</a>
    </td>
    </tr>

    <tr>
     <td>
      <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
        <a routerLink="/Student/2" class="user-link">George Clooney</a>
     </td>                         
    </tr>

    <tr>
     <td>
      <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
       <a routerLink="/Student/3" class="user-link">Ryan Gossling</a>
      </td>    
    </tr>

     <tr>
      <td>
        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
        <a routerLink="/Student/4" class="user-link">Emma Watson</a>
      </td>
     </tr>
     
    <tr>
        <td>
         <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
         <a routerLink="/Student/5" class="user-link">Robert Downey Jr.</a>
        </td>
    </tr>

    <tr>
     <td>
      <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
      <a routerLink="/Student/6" class="user-link">Mila Kunis</a>
     </td>   
    </tr>
                            
    </tbody>
 </table>
    </div>
    <ul class="pagination pull-right">
    <li ><a href="#" style="color: #25B491"><i class="fa fa-chevron-left"></i></a></li>
        <li><a href="#" style="color: #25B491">1</a></li>
        <li><a href="#" style="color: #25B491">2</a></li>
         <li><a href="#" style="color: #25B491">3</a></li>
         <li><a href="#" style="color: #25B491">4</a></li>
         <li><a href="#" style="color: #25B491">5</a></li>
        <li><a href="#" style="color: #25B491"><i class="fa fa-chevron-right"></i></a></li>
     </ul>
     </div>
    </div>
